@page
@model AboutModel
@{
    ViewData["Title"] = "About Rodrigo Bruner's Car Rentals";
}
<h1>@ViewData["Title"]</h1>

<section>
    <div class="container py-5">
    <div class="row d-flex align-items-center justify-content-center ">
        <div class="col-md-8 col-lg-7 col-xl-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero voluptatum eligendi repudiandae ad totam aliquid odio deleniti doloremque sapiente ipsum facilis ex nulla ab, recusandae distinctio nostrum at pariatur. Aliquid?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, quam. Vel, ratione dolorum similique cum eligendi nulla alias aperiam, molestias neque provident incidunt? Dolores sunt, repudiandae facilis porro ipsam obcaecati.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, quam. Vel, ratione dolorum similique cum eligendi nulla alias aperiam, molestias neque provident incidunt? Dolores sunt, repudiandae facilis porro ipsam obcaecati.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, quam. Vel, ratione dolorum similique cum eligendi nulla alias aperiam, molestias neque provident incidunt? Dolores sunt, repudiandae facilis porro ipsam obcaecati.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, quam. Vel, ratione dolorum similique cum eligendi nulla alias aperiam, molestias neque provident incidunt? Dolores sunt, repudiandae facilis porro ipsam obcaecati.</p>
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2895.982263871411!2d-80.51228042348353!3d43.46096747111198!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882bf5094e60b8ef%3A0xe07bfbeeeab04b50!2s107%20Roger%20St%2C%20Waterloo%2C%20ON%20N2J%201A4!5e0!3m2!1sen!2sca!4v1722607255435!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    </div>
</section>
