@page
@model ManageReservationModel
@{
    //@rodrigobruner: Tratar se der erro aqui
    ViewData["Title"] = "Manage reservations";
}
<h1>@ViewData["Title"]</h1>

<p><a href="/Reservations">If you are not redirected, click here.</a></p>
