@page
@model UserConfirmationModel
@{
    ViewData["Title"] = "User created successfully";
}
<section>
    <div class="row">
        <div class="col align-self-center p-5 text-center">
                <h1>@ViewData["Title"]</h1>
                <img src="images/user_created.webp" class="mw-50">
        </div>
        <div class="text-center mb-5">
            <a class="btn btn-lg btn-block abutton" href="Login">
                <i class="fa fa-key"></i> &nbsp; Go to the Sing in page
            </a>
        </div>
    </div>
</section>